.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.change-color {
    border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: 40px;
background: #4e75ff;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}