#categories {
  display: flex;
  display: block;
}
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 100%;
}

.inner-ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inner-ul li {
  border: 1px solid black;
  border-radius: 4px;
  padding: 7px;
}
