.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 100px auto 0;
  }
  
  .item {
    width: calc((100% - 48px) / 3);
  }
  
  .img-item {
    display: block;
    width: 360px;
    height: 300px;
    object-fit: cover;
  } 